{{ $email := "" -}}
{{- $recipient := "" -}}
{{- $fullname := "" -}}
{{- $ghlogin := "" -}}
{{- if stdinIsATTY -}}
{{/* we are in interactive mode */}}
{{-   $email = promptStringOnce . "email" "Email address" -}}
{{-   $recipient = promptStringOnce . "recipient" "GPG recipient" -}}
{{-   $fullname = promptStringOnce . "fullname" "Full name" -}}
{{-   $ghlogin = promptStringOnce . "ghlogin" "Github.com login" -}}
{{- else -}}
{{-   $email = "user@example.com" -}}
{{-   $recipient = "XXX" -}}
{{-   $fullname = "User" -}}
{{-   $ghlogin = "User" -}}
{{- end -}}

{{ if not ( env "REMOTE_CONTAINERS" | empty ) -}}
{{/* # in devcontainer predefined source is home/dotfiles */}}
sourceDir: {{ joinPath .chezmoi.homeDir "dotfiles" }}
{{ end -}}

encryption: "gpg"

data:
    email: {{ $email | quote }}
    recipient: {{ $recipient | quote }}
    fullname: {{ $fullname | quote }}
    ghlogin: {{ $ghlogin | quote }}
    caUrl: "https://ca.dnbtech.dev:9443"
    caUrlFingerprint: "e0a248cd4ee597d453bfe580b66979ada31a5efbeebdb2ec6e9533074f671efd"
gpg:
    recipient: {{ $recipient | quote }}

git:
    autoCommit: true
#  autoPush: true

add:
    secrets: error

edit:
    watch: true
