{{ if ( env "REMOTE_CONTAINERS" | empty ) -}}
{{/* we do not manage git in devcontainers */}}
[user]
	name = {{ .fullname }}
	email = {{ .email }}
	signingkey = {{ .recipient }}

[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
[safe]
	directory = *
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gpg]
{{ if (eq .chezmoi.os "darwin") }}
	program = /usr/local/MacGPG2/bin/gpg2
{{ end -}}
[commit]
	gpgsign = true
[credential]
{{- if or (eq .chezmoi.os "darwin") (not (env "REMOTE_CONTAINERS" | empty)) }}
	helper = /usr/local/share/gcm-core/git-credential-manager
{{ end -}}
{{- if (eq .chezmoi.os "linux") }}
	credentialStore = secretservice
[credential "https://github.com"]
	helper = cache
	helper = github # important that you put it last because we only need to run gcg when other helpers have failed to give credentials
	username = {{ .ghlogin }}
[credential "https://gist.github.com"]
	helper = cache
	helper = github
	username = {{ .ghlogin }}
{{ end -}}
[credential "https://dev.azure.com"]
	useHttpPath = true
{{ end -}}
