{{ if not ( env "REMOTE_CONTAINERS" | empty ) -}}
{{/* we do not manage git in devcontainers */}}
[user]
	name = {{ .fullname }}
	email = {{ .email }}
	signingkey = {{ .recipient }}

[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gpg]
{{ if (eq .chezmoi.os "darwin") }}
	program = /usr/local/MacGPG2/bin/gpg2
{{ end -}}
[commit]
	gpgsign = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
{{ end -}}
