{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
set -eu

install_homebrew() {
  if [ ! -x "$(command -v brew)" ]; then
    xcode-select --install

    echo "Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  fi
}

install_homebrew

# install homebrew casks/brews
export HOMEBREW_CASK_OPTS=--no-quarantine

# combine shared and private encrypted parts
# rendering directly in template, so chezmoi could detect a change of content
brew bundle install -v --no-lock --file=/dev/stdin <<EOF
{{ joinPath .chezmoi.sourceDir "Brewfile" | include }}
{{ joinPath .chezmoi.sourceDir "Brewfile.pers.asc" | include | decrypt }}
EOF

{{ end -}}
