[Unit]
Description=User service for bak-watchman
After=network.target

[Service]
ExecStart=/home/senz/bin/bak-watchman

[Install]
WantedBy=default.target
